<!--Dropdown primary-->
<div class="dropdown">

    <!--Trigger-->
    <button style="margin: 0;" class="btn  btn-danger " type="button" id="dropdownMenu1"  aria-haspopup="true"
            aria-expanded="false">
        User Type

    </button>
    <button style="margin: 0 -1%; border-left: none" class="btn  btn-danger dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <b class="caret"></b>
    </button>


    <!--Menu-->
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('all_users') }}" >
                &nbsp;&nbsp;
                <i class="fa fa-users"></i>
                &nbsp;&nbsp;
                <b style="color: darkred">
                    All Users</b>
            </a>
        </li>
        <li>
            <a  href="{{ path('employee_has_users') }}">
                &nbsp;&nbsp;
                <i class="fa fa-user"></i>
                &nbsp;&nbsp;
                <b style="color: darkred">
                    User With Employee
                </b>
            </a>
        </li>
        <li>
            <a  href="{{ path('employee_has_no_users') }}">
                &nbsp;
                <i class="fa fa-user-times"></i>
                &nbsp;
                <b style="color: darkred">
                    User Without Employee
                </b>
            </a>
        </li>
        <li>
            <a  href="{{ path('admin_users') }}">
                &nbsp;&nbsp;
                <i class="fa fa-lock"></i>
                &nbsp;&nbsp;
                <b style="color: darkred">
                    Admin Users
                </b>
            </a>
        </li>
        <li>
            <a  href="{{ path('employee_users') }}">
                &nbsp;&nbsp;
                <i class="fa fa-unlock"></i>
                &nbsp;&nbsp;
                <b style="color: darkred">
                    Employee Users
                </b>
            </a>
        </li>
    </ul>
</div>
<!--/Dropdown primary-->