{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}
    {{ parent()}}
    <div id="wrapper">

    <!-- Navigation -->
    {% include("admin/navbar.html.twig") %}

    <div id="page-wrapper">

        <div class="container-fluid">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
            {% block adminContent %}
            {% endblock %}
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block javascripts %}
 {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/admin/home.js') }}" ></script>
{% endblock %}