
{{ form_start(form) }}

<div class="form-group ">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
        {{ form_row(form.username) }}
    </div>
</div>
<div class="form-group ">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
        {{ form_row(form.plainPassword.first,{
            "label":false,
            "attr":{
                "placeholder":"Password"
            }
        }) }}
    </div>
</div>
<div class="form-group ">
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
        {{ form_row(form.plainPassword.second,{
            "label":false,
            "attr":{
                "placeholder":"Confirm Password"
            }
        }) }}
    </div>
</div>
<input type="submit" value="Register" class="btn btn-success btn-custom">

{{ form_end(form) }}